<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <!-- Goes above well. Informs user about the plan depending on what they clicked -->
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1>Pro Account</h1>
          <p>Sign up for the pro account for $10/month and get access to the community and contact information!</p>
        <% else %>
          <h1>Basic Account</h1>
          <p>Sign up for free and get basic access to the community</p>
        <% end %> 
      </div>
      
      <!-- Will render either a basic or pro form (called from different, partial html files)
      _file_name.html.erb ... _ indicates partial file in rails. Render function calls upon partial files
      -->
      <div class="well">
        <h2>Sign up</h2>
        
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>  
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
